.view-checkout {
  display: flex;
  justify-content: space-evenly;
  background-color: #f8f8fa;
  padding: 2rem;
  // .item-component-checkout{
  //   padding: 10px;
  //   border-radius: 10px;
  //   border: 1px solid #000;
  // }
}
.checkout-card {
  font-family: $font-family;
  display: flex;
  img {
    border-radius: 5px;
  }
}
.checkout-align {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.firt-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.amount {
  color: #222222 !important;
  font-size: 1.4rem !important;
  font-weight: 900 !important;
  padding-top: 1rem;
  padding-left: 4rem;
  font-family: $font-family;
}

.checkout {
  h2 {
    color: #222222;
    font-size: 1.2rem;
    margin-bottom: 15%;
  }
  h3 {
    margin-bottom: 20%;
    color: #5640ff;
    font-size: 1rem;
    font-weight: 600;
  }
  a {
    text-decoration: underline;
    font-weight: 550;
    color: #5640ff;
    margin-bottom: 1rem;
  }
}

.pay-card {
  width: 100%;
  max-width: 433px;
  height: 100%;
  min-height: 350px;
  max-height: 500px;
  background-color: #fff;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 10px #3754aa1a;
  div,
  span {
    color: #5640ff;
  }
  .amount-pay {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1.4rem !important;
    font-weight: 900 !important;
    // padding-top: 10px;
    font-family: $font-family;
  }
  .width {
    max-width: 333px;
    width: 100%;
  }
  input {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  // button {
  //   width: 100%;
  //   background-color: $primary-color;
  //   color: #fff;
  //   padding: 0.9rem 2rem;
  //   font-size: 1.1rem;
  //   border-radius: 10px;
  //   border: none;
  //   outline: none;
  //   font-weight: 700;

  //   &:hover {
  //     background-color: #fff;
  //     color: #5640ff;
  //     border: 2px solid #5640ff;
  //   }
  // }
}
.input-icon {
  position: relative;
  img {
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: 0.1s;
    &:active {
      transition: 0.1s;
      transform: translateX(3px);
      opacity: 0.8;
    }
  }
}
.amount-second {
  visibility: hidden;
}

/*Media query*/

@media only screen and (max-width: 1460px) {
  .amount {
    padding-right: 4rem;
  }
}
@media only screen and (max-width: 1430px) {
  .checkout h3 {
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 1150px) {
  .view-checkout {
    flex-direction: column;
  }
  .pay-card {
    align-self: center;
  }
}

@media only screen and (max-width: 725px) {
  .amount {
    padding-right: 2rem;
  }
  .checkout-card {
    img {
      max-width: 250px;
    }
    figure {
      margin-right: 1%;
    }
  }
  .checkout h3 {
    margin-bottom: 3%;
  }
  .checkout h2 {
    margin-bottom: 8%;
  }
}

@media only screen and (max-width: 650px) {
  .amount {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .checkout-card {
    img {
      max-width: 200px;
    }
    figure {
      margin-right: 1%;
    }
  }
}
@media only screen and (max-width: 630px) {
  .firt-section {
    flex-direction: column;
  }
  .amount-card {
    display: flex;
    justify-content: space-between;

    visibility: visible;
    .amount-second {
      color: #222222;
      font-size: 1rem;
      font-weight: 900;
    }
  }
  .amount-second {
    visibility: visible;
  }

  .amount {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 485px) {
  .checkout-align {
    margin-left: 0.2rem;
  }
  .checkout {
    h2 {
      font-size: 0.9rem;
    }
    h3 {
      font-size: 0.8rem;
    }
    a {
      font-size: 0.8rem;
    }
  }
  .amount-second {
    font-size: 0.6rem;
  }
  .view-checkout {
    padding: 0.2rem;
  }
  .cart {
    margin-right: 1rem !important;
  }
}

@media only screen and (max-width: 410px) {
  .pay-card input {
    font-size: 0.7rem;
  }
}

/*card compra exitosa*/
.exit-pay {
  margin-bottom: 4rem;
  div {
    color: #222222;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 1rem;
  }
  span {
    color: #222222;
    font-size: 1rem;
    line-height: 1rem;
  }
}
.div-line {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.final-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: #5640ff;
}

@media only screen and (max-width: 1450px) {
  .div-line {
    margin-left: -2rem;
  }
  .final-amount {
    margin-right: 2rem;
  }
}
/*arrow header*/
.checkout-component {
  width: 1200px;
  margin: auto;
  padding-top: 30px;
  .title_inline {
    display: flex;
    // margin-left: 7rem;
    justify-content: start;
    align-items: center;

    div {
      margin-left: 1.2%;
      margin-right: 1rem;
      height: 100%;
      img {
        align-self: center;
      }
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 0rem;
      align-self: center;
      font-family: $font-family;
    }
  }
}
