.view-credit-card {
  width: 100vw;
  height: 100vh;
  background: #f8f8f8;
}

.wrapper {
  width: 1200px;
  padding: 40px 10px 10px 10px;
  margin: auto;
  display: grid;
  grid-template-columns: 710px 430px;
  grid-column-gap: 40px;

  .box-runway {
    width: 100%;

    p {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
    }
    .sub-title {
      margin-bottom: 20px;
    }
    .title_inline {
      height: 30px;
      padding: 10px;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      h2 {
        margin-left: 20px;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
    .nav_button {
      .box-tabs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-bottom: 30px;
      }
    }

    .container_pay {
      .box-inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    }
    .container_credit_card {
      padding-top: 30px;
      .container-left-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        .box-inputs-tres {
          padding-top: 10px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 10px;
        }
      }
    }

    .box-dues {
      padding-top: 40px;
    }
    .box-inputs-dues {
      display: flex;
      justify-content: space-between;
      button {
        width: 60px;
        height: 50px;
        background: none;
        color: #555;
        border: 2px solid #d3d3d3;
        font-size: 0.875rem;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          background: $primary-color;
          color: #fff;
        }
      }
    }
  }
  .box-list {
    width: 430px;
    height: 610px;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    .list-items {
      .add-item {
        width: 100%;
        height: 100px;
        display: flex;
        margin-bottom: 20px;
        img {
          width: 130px;
          height: 100px;
          border-radius: 5px;
          margin-right: 10px;
          object-fit: cover;
        }
        .box-text {
          h3 {
            font-size: 15px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .box-pay {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 1.25rem;
          font-weight: bold;
          color: $primary-color;
        }
      }
    }
  }
  .box-button {
    display: flex;
    justify-content: center;
    button {
      width: 400px;
    }
  }
}
