$color-blue:blue;

$color-gray:gray;


/*******************************************************************************************/
.color-blue{
color:$color-blue;
color:$color-green; //made in anto
}
.background-color-blue{
    background-color: $color-blue;
}
