.input-n {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
}
// input:valid {
//   border-color: #5640ff;
// }