@import "globals";
@import "reset";
@import "typography";
@import "checkout";
@import "creditcard";
@import "view_home";
@import "checkout";
@import "creditcard";
@import "view_home";
@import "input_normal";
@import "btn_static";
@import "btn_animate";
@import "header";
@import "footer";
@import "globals";





.roboto{
  color: red;
  font-family: $font-family;
  font-size: 2rem;
}