@import "globals";
@import "reset";
@import "typography";
@import "checkout";
@import "creditcard";
@import "view_home";
@import "checkout";
@import "creditcard";
@import "cash_payment";
@import "view_home";
@import "input_normal";
@import "btn_static";
@import "btn_animate";
@import "btn_on_off"; //boton de encendido y apagado de la pagina pago en efectivo
@import "header";
@import "footer";
@import "globals";
@import "login";

.roboto {
  color: red;
  font-family: $font-family;
  font-size: 2rem;
}
