@import "globals";
@import "reset";
@import "typography";
 
@import "checkout";
@import "creditcard";

 
@import "view_home";

body{
  background : $primary-color ;
} 
 



.roboto{
  color: red;
  font-family: $font-family;
  font-size: 2rem;
}
